.toolbar {
  height: 60px;
  margin: -2px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #messenger-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #messenger-logo:hover {
  opacity: 0.8;
}
