

*, *::before, *::after {
  box-sizing: border-box;
}

#divide{
  display: flex;
}

#child1{
  flex: 1;
  width: 50%;
}

#child2{
  flex: 1;
  position: absolute;
  left: 20%;
  top: 13%;
}
.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF;
}



.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
}
.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(168, 237, 234)), to(rgb(254, 214, 227)));
  background-image: linear-gradient(to top, rgb(168, 237, 234) 0%, rgb(254, 214, 227) 100%);
}
.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(168, 237, 234)), to(rgb(254, 214, 227)));
  background-image: -webkit-linear-gradient(bottom, rgb(168, 237, 234) 0%, rgb(254, 214, 227) 100%);
  background-image: linear-gradient(to top, rgb(168, 237, 234) 0%, rgb(254, 214, 227) 100%);
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;

}
/* @media all and (min-width:768px) */
.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 70%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.fade {
  transition: opacity 0.15s linear;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tab-content {


}
.container-fluid {
  width: 160%;
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;
}
.mt-2, .my-2 {

}
/* @media all and (max-width:992px) */
.fixed-sn main {

}
.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
  padding-left: 15rem;
}
.fixed-sn main {

}
/* @media all and (max-width:1440px) */
.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
  padding-left: 0px;
}
/* @media all and (min-width:600px) */
.fixed-sn main, .fixed-sn .page-footer .container-fluid {
  margin-right: 2%;
  margin-left: 2%;
}
/* @media all and (max-width:992px) */
.fixed-sn main {

}
/* @media all and (max-width:992px) */
.fixed-sn main {

}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
body {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
  --blue:  #007bff;
  --indigo:  #6610f2;
  --purple:  #6f42c1;
  --pink:  #e83e8c;
  --red:  #dc3545;
  --orange:  #fd7e14;
  --yellow:  #ffc107;
  --green:  #28a745;
  --teal:  #20c997;
  --cyan:  #17a2b8;
  --white:  #fff;
  --gray:  #6c757d;
  --gray-dark:  #343a40;
  --primary:  #007bff;
  --secondary:  #6c757d;
  --success:  #28a745;
  --info:  #17a2b8;
  --warning:  #ffc107;
  --danger:  #dc3545;
  --light:  #f8f9fa;
  --dark:  #343a40;
  --breakpoint-xs:  0;
  --breakpoint-sm:  576px;
  --breakpoint-md:  768px;
  --breakpoint-lg:  992px;
  --breakpoint-xl:  1200px;
  --font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}
.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0 !important;
}
.pb-0, .py-0 {
  padding-bottom: 0px !important;
}
.pr-2, .px-2 {
  padding-right: 0.5rem !important;
}
p {
  margin-bottom: 1rem;
}
.mb-0, .my-0 {
  margin-bottom: 0px !important;
}
.pl-2, .px-2 {
  padding-left: 0.5rem !important;
}
/* @media all and (min-width:768px) */
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 80%;
}
.pr-0, .px-0 {
  padding-right: 0px !important;
}
.pl-0, .px-0 {
  padding-left: 0px !important;
}
/* @media all and (min-width:768px) */
.pl-md-3, .px-md-3 {
  padding-left: 1rem !important;
}
ol, ul, dl {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.list-unstyled {
  padding-left: 0px;
  list-style: none;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
img {
  vertical-align: middle;
  border-style: none;
  width: 100px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}
.z-depth-1, .chip:active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12) !important;
}
.card.chat-room .members-panel-1, .card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll;
}
.card.chat-room .chat-1 {
  height: 495px;
}
.ml-2, .mx-2 {
  margin-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3, .py-3 {
  padding-top: 1rem !important;
}
.white, .picker__list-item, .picker__box .picker__header .picker__select--month.browser-default, .picker__box .picker__header .picker__select--year.browser-default {
  background-color: #fff !important;
}
button {
  border-radius: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:not(:disabled), [type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled) {
  cursor: pointer;
}
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.87rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.float-right {
  float: right !important;
}
.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.btn {
  margin: .375rem;
  color: inherit;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
  -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  padding: .84rem 2.14rem;
  font-size: 0.81rem;
}
.btn-outline-pink {
  color: #ec407a !important;
  background-color: transparent !important;
  border: 2px solid #ec407a !important;
}
.btn-rounded {
  border-radius: 10em;
}
.btn.btn-sm {
  padding: .5rem 1.6rem;
  font-size: 0.64rem;
}
[class*='btn-outline-'].btn {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
[class*='btn-outline-'].btn.btn-sm {
  padding-top: 0.38rem;
  padding-bottom: 0.38rem;
}
.form-group {
  margin-bottom: 1rem;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 2px + 0.75rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mt-0, .my-0 {
  margin-top: 0px !important;
}
textarea.form-control {
  height: auto;
}
.basic-textarea textarea {
  height: auto;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}
.ml-0, .mx-0 {
  margin-left: 0px !important;
}
.mr-0, .mx-0 {
  margin-right: 0px !important;
}
.ml-3, .mx-3 {
  margin-left: 1rem !important;
}
.card.chat-room img.rounded-circle {
  border-radius: 50%;
}
.card.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}
hr {
  box-sizing: content-box;
  height: 0px;
  overflow: visible;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.w-100 {
  width: 100% !important;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
small, .small {
  font-size: 80%;
  font-weight: 400;
}
.text-muted {
  color: #6c757d !important;
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.far {
  font-weight: 400;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h6, .h6 {
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.text-center {
  text-align: center !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
  font-weight: 400;
}
.card.chat-room .members-panel-1 {
  height: 570px;
}
.p-2 {
  padding: 0.5rem !important;
}
.grey {
  background-color: #9e9e9e !important;
}
.grey.lighten-3 {
  background-color: #eee !important;
}
.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}
.card.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}
.card.chat-room .text-small {
  font-size: 0.95rem;
}
.card.chat-room .text-smaller {
  font-size: 0.75rem;
}
.fa, .fas {
  font-weight: 900;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge {
  color: #fff !important;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
}
.badge-danger {
  color: #fff !important;
  background-color: #ff3547 !important;
}

