

<div class="col-md-6 col-xl-4 px-0">
  <div class="btns">
     <a class="btn-profil" href="user/profil">Profil</a>
     <a class="btn-friends" href="user/friends">Přátelé</a>
     <a class="btn-chat" href="user/main">Chat</a>

    <a class="disconnect" routerLink="../" (click)="delToken()" >Odhlásit</a>
  </div>

  <h6 class="font-weight-bold mb-3 text-center text-lg-left">Friends</h6>

  <div class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue">
    <input type="text" name="search" placeholder="Search..">
    <br>
    <br>
    <ul class="list-unstyled friend-list">
      <li class="active grey lighten-3 p-2">
        <a class="d-flex justify-content-between" href="#">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://cdn.discordapp.com/attachments/508709417949069312/664197361874239511/image0.png">

          <div class="text-small">
            <strong>Younghee Park</strong>
            <p class="last-message text-muted">Pomůžeš mi s prográmkem?</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">Just now</p>
            <span class="badge badge-danger float-right">1</span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="user/main">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="http://www.postavy.cz/foto/varys-foto.jpg">
          <div class="text-small">
            <strong>Oldřich Hejčl</strong>
            <p class="last-message text-muted">Pozor Stopka.</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">5 min ago</p>
            <span class="text-muted float-right"><i class="fas fa-reply" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="#">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://www.moviesjacket.com/image/cache/28-03-2019data/guardians-of-galaxy-baby-groot-flower-pot/baby-groot-pot-100x100.jpg">
          <div class="text-small">
            <strong>Adrián Maskvár</strong>
            <p class="last-message text-muted">Asi to zatáhnu.</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">Yesterday</p>
            <span class="text-muted float-right"><i class="fas fa-reply" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="#">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://www.henrymakow.com/upload_images/musk.jpg">
          <div class="text-small">
            <strong>Dmitriy Boldyrev</strong>
            <p class="last-message text-muted">Jak ti to funguje</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">Yesterday</p>
            <span class="text-muted float-right"><i class="fas fa-reply" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="user/main">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/1467132235-the-nights-king-heres-how-furdik-looks-with-all-his-white-walker-makeup-and-prosthetics-on-1555428868.png?crop=0.9973958333333334xw:1xh;center,top&resize=768:*">
          <div class="text-small">
            <strong>Pavel Pešl</strong>
            <p class="last-message text-muted">Pešel přišel a pak pošel</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">Yesterday</p>
            <span class="text-muted float-right"><i class="fas fa-reply" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="#">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://images.squarespace-cdn.com/content/v1/51fb02e3e4b0608e46483955/1477310885597-4T1QGSEBN5Z4UXNXAU57/ke17ZwdGBToddI8pDm48kMpagLdZPgiW6yD5i4KsS9VZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7Xj1nVWs2aaTtWBneO2WM-uuo3E8DgUUFkclh4h3c9c4WXatM_vV0pIZndqzpr9A2g/image-asset.jpeg?format=100w">
          <div class="text-small">
            <strong>Tomáš Förster</strong>
            <p class="last-message text-muted">Máš nějakej dlabanec</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">Yesterday</p>
            <span class="text-muted float-right"><i class="fas fa-reply" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>
      <li class="p-2">
        <a class="d-flex justify-content-between" href="#">
          <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://www.moviesjacket.com/image/cache/28-03-2019data/guardians-of-galaxy-baby-groot-flower-pot/baby-groot-pot-100x100.jpg">
          <div class="text-small">
            <strong>Tomáš Křelina</strong>
            <p class="last-message text-muted">Jak to jde</p>
          </div>
          <div class="chat-footer">
            <p class="text-smaller text-muted mb-0">5 min ago</p>
            <span class="text-muted float-right"><i class="fas fa-check" aria-hidden="true"></i></span>
          </div>
        </a>
      </li>

    </ul>
  </div>

</div>

<div>
  <router-outlet></router-outlet>
</div>




