<div id="content3">
<div id="child1">
    <router-outlet></router-outlet>
</div>

<div id="child2">

    <div id="ramecek">
        <img class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" alt="avatar" src="https://www.naucmese.cz/img/default-user.jpg">




        <table id="table1">

           <tr>

             <td>
               Username
               <br>
               @username
               <hr>
             </td>

           </tr>

           <tr>

              <td>
                  Name
                <br>
                  @name
                <hr>
              </td>
          </tr>
          <tr>

             <td>
                 Surname
               <br>
                 @surname
                 <hr>

             </td>
           </tr>

            <button id="btn_password_change">Změna hesla</button>

        </table>
    </div>

</div>
</div>
