/*#jmeno{
  float: right;
  position: relative;

}

body{
  background-color: red;
}*/

#child2 {
  position: absolute;
  top: 13%;
  left: 20%;
  background-color: whitesmoke;
  padding-right: 800px;
  padding-left: 300px;
  padding-top: 150px;
  padding-bottom: 500px;
}



#table1{
  top: 10%;
  font-size: 20px;
  position: relative;
  float: right;
  left: -5px;

}

#ramecek{
  border: 2px solid blue;
  padding-bottom: 270px;
  padding-left: 40px;
  padding-right: 25px;
}

#btn_password_change{
  border: 1px blue ;
  background-color: deepskyblue;
  color: #000;
}

#btn_password_change:hover{
  background-color: #007bff;
  cursor: pointer;

}

table tr td:hover{
  cursor: pointer;
  background: whitesmoke;
  color: black;
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
  border-radius: 50% !important;
  width: 100px;
}

