<div id="content3">
    <div id="child1">
        <router-outlet></router-outlet>
    </div>

    <div id="child2">



    <div class="table3">
       <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th id="positionup" mat-header-cell *matHeaderCellDef> Ikona </th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.position}}" alt="Foto Filip" >
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th id="nameup" mat-header-cell *matHeaderCellDef> Name </th>
            <td id="name1" mat-cell *matCellDef="let users"> {{users.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th id="surnameup" mat-header-cell *matHeaderCellDef> Surname </th>
            <td id="surname1" mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
        <ng-container matColumnDef="remove">
            <th id="removeup" mat-header-cell *matHeaderCellDef> Odebrat </th>
            <td id="remove1" mat-cell *matCellDef="let element"><a href="user/main">Odebrat</a> </td>
        </ng-container>
        <ng-container matColumnDef="chat">

            <th id="chatup" mat-header-cell *matHeaderCellDef> Chat </th>
            <td id="chat1" mat-cell *matCellDef="let element"><a href="user/main">Napsat</a> </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>

       <mat-paginator id="pag1" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
</div>
