
#child2 {
  position: absolute;
  top: 6%;
  left: -86px;
}


table {
  position: relative;
  width: 80%;
  left: 470px;
  top: 70px;
  background-color: lightblue;
  color: black;
}
#pag1{
  position: relative;
  left: 470px;
  width: 100%;
  top: 70px;
  background-color: lightblue;
  color: black;
}


img{
  width: 100px;
  border-radius: 50%;
}

#name1, #surname1{
  color: blue;
  text-align: center;
}

#remove1{
  text-decoration: none;
  color: #000;

}
 #nameup, #surnameup, #removeup, #chatup{
  padding-right: 70px;
}
#positionup{
  padding-right: 100px;
}
