<div style="text-align:center">


    <div class="loginbox">

        <!--<a class="vetsi">Přihlásit se</a>-->
        <br/><br/>
        <p class="vetsi">Přihlásit se</p>


        <form #loginForm=ngForm (ngSubmit)="login()">

            <p></p>
            <input type="email" name="email" id="inputUsername"
                   placeholder="Uživatelské jméno" [(ngModel)] = form.email required>

            <br>
            <p></p>

            <p></p>
            <input type="password" name="password" id="inputPassword"
                   placeholder="Heslo" [(ngModel)] = form.password required>
            <p><br/>
                <button value="Přihlásit" class="button"
                        type="submit" routerLinkActive="active"
                        [disabled]="!loginForm.valid"  >Přihlásit</button></p>

            <!--<p><br/>
              <button value="Student" class="button2"
                   >Student</button></p>-->
        </form>

        <!--<p><a href =#>Zapomněli jste heslo?</a></p>-->
        <a routerLink="/register"  class="ActiveText">Založit nový účet</a><br/>
        <!--<a routerLink="/admin" routerLinkActive="active" >admin</a>-->
        <router-outlet></router-outlet>

    </div>
</div>
