
h1{

  text-align: center;
  color: black;


}
.loginbox {

  width: 380px;
  height: 390px;
  float: left;
  background: whitesmoke; //#E8E8E8; //#F5F5F5; /*#B7A6CB*/

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  text-align: center;




}

form{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  margin: auto;
}
input{
  outline: none;
  margin: auto;
  width: 250px;
  padding: 10px;
  text-align: center;
  &:active{
    border:1px solid blue;
  }

}
.ng-invalid:not(form){
  //border: 1px solid red;
}
.ng-valid:not(form){
  //border: 1px solid green;
}

.button {


  margin: auto;
  width: 230px;
  border: 0px solid grey;
  color: white;
  background: #0845A4;
  padding: 11px;
  &:hover{
    background: #04347F;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;

  }
}

.signUp{
  font-size: 140%;
}
.buttonbakalari {

  border-radius: 3px;
  margin: auto;
  width: 75%;
  border: 0px solid grey;
  color: white;
  background: #0845A4;
  padding: 7px;
  &:hover{
    background: #04347F;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;

  }

}



hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: #0845A4;
  background-color: #0845A4;
  margin: 1em 0;
  padding: 0;
}
#center{

  margin: 0px auto;

}
a{
  text-decoration:  none;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
.vetsi{
  font-size: 170%;
}
.ActiveText
{
  &:hover{
    color: grey;
    cursor: pointer;
  }
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
