<div style="text-align:center">


    <div class="loginbox">

        <!--<a class="vetsi">Přihlásit se</a>-->

        <p class="vetsi">Registrovat se </p>


        <form #registerForm=ngForm (ngSubmit)="register()">

            <p>
                <input type="email" name="email" id="inputUsername"
                       placeholder="Uživatelské jméno" [(ngModel)] = form.email required>
            <p></p>

            <p>
                <input type="password" name="password" id="inputPassword"
                       placeholder="Heslo" [(ngModel)] = form.password required></p>

            <p>
                <input type="name" name="name" id="inputName"
                       placeholder="Jméno" [(ngModel)] = form.name required></p>
            <p>
                <input type="surname" name="surname" id="inputSurname"
                       placeholder="Příjmení" [(ngModel)] = form.surname required></p>
            <p><br/>
                <button value="Přihlásit" class="button"
                        type="submit" routerLinkActive="active"
                        [disabled]="!registerForm.valid" >Registrovat</button></p>
        </form>

        <!--<p><a href =#>Zapomněli jste heslo?</a></p>-->
        <a routerLink="/"  class="ActiveText">Přihlásit se</a><br/>
        <!--<a routerLink="/admin" routerLinkActive="active" >admin</a>-->
        <router-outlet></router-outlet>

    </div>
</div>
